# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ios-att-sample.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kako\workspace\unity\ios-att-sample\.idea\.idea.ios-att-sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
